<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <header class="content-header">
        <span>Alos-TPS</span>
    </header>
    <main class="content-body">
        <div class="reponsive-conteiner">
            <div class="card">
                <div class="card-haeder">
                    <h3>Iniciar sesión</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card-input-rw">
                            <label for="">Nombre de Usuario</label>
                            <input type="text" name="" id="">
                        </div>
                        <div class="card-input-rw">
                            <label for="">Contraseña</label>
                            <input type="text" name="" id="">
                        </div>
                    </div>
                </div>
                <div class="card-foter">
                    <button>Entrar</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>