<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Chat en vivo </title>
</head>
<body>
    <div class="form-center-pading-login">
        <form action="">
            <div class="input-form">
                <label class="title-form"">User</label>
                <input type="text" name="Name" class="input-field">
            </div>
            <div class="input-form">
                <label class="title-form">password</label>
                <input type="text" name="pasword" class="input-field">
            </div>
            <button>Login</button>
        </form>
    </div>
</body>
</html>