<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/prue-dos.css">
    <title>Document</title>
</head>
<body>
    <div class="content-header">   
        <span>Alos-TPS</span>     
    </div>
    <div class="content-body">
        <div class="reponsive-conteiner">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-header-title">Iniciar Sesion</h3>
                </div>
                <div class="card-body">
                    <div class="input-form">
                        <label class="title-form"">User</label>
                        <input type="text" name="Name" class="input-field">
                    </div>
                    <div class="input-form">
                        <label class="title-form"">Password</label>
                        <input type="text" name="Name" class="input-field">
                    </div>
                </div>
                <div class="card-foter">
                    <button>hola</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>