body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(134, 134, 240);
}
.content-header{
    padding: 0px 0px 0px 20px;
    box-shadow: 0 10px 30px 0 rgb(82 63 105 / 8%);
    background-color: #fff;

}
.content-header span {
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 70px;
}
.content-body{
    display: flex;
    justify-content: center;
    padding: 24px 12px 82px;
}
.reponsive-conteiner{
    max-width: 454px;

}
.card{
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
}
.card-header{
    min-height: 70px;
    padding: 0 20px;
}
.card-header-title{
    line-height: 70px;
    font-weight: 500;
    font-size: 1.275rem;
    color: #212121;
}
.card-body{
    padding: 20px;
}
.input-form{
    display: flex;
    flex-direction: column;
}