body{
    margin: 0px;
    background-color: #c3c3c3;
}
.content-header{
    padding: 0px 0px 0px 20px;
    box-shadow: 0 10px 30px 0 rgb(82 63 105 / 8%);
    background-color: #fff;
}
.content-header span {
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 70px;
}
.content-body {
    display: flex;
    justify-content: center;
}
.card{
    max-width: 454px;
    background-color: #fff;

}
.card-input-rw{
    display: flex;
    flex-direction: column;
}